$sidebar-width: 70px; //Width of the sidebar
$navbar-height: 60px; //Height of the navbar
$tab-bar-height: 50px; //Height of the tab bar
$swiper-bullet-color: #f97316; //Color of the swiper pagination
//Tiptap
$color-black-tiptap: #000000;
$color-white-tiptap: #ffffff;
$color-grey-tiptap: #dddddd;
$link-color-tiptap: #4286f4;
